.mediumfeedcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the gap between items */
    padding: 16px; /* Optional: padding around the container */
}

.mediumfeedcontainer div {
    padding: 16px; /* Example padding */
    border-radius: 4px; /* Optional: rounded corners */
    /* text-align: center;  */
    flex: 1 1 calc(50% - 32px); /* Adjust the width of items for desktop */
}

@media (max-width: 768px) {
    .mediumfeedcontainer div {
        flex: 1 1 100%; /* Full width for mobile */
    }
}

/* FAQ toggle icons */
.faq-item[open] .faq-collapsed {
    display: none;
}

.faq-item[open] .faq-expanded {
    display: block;
}

.faq-item:not([open]) .faq-collapsed {
    display: block;
}

.faq-item:not([open]) .faq-expanded {
    display: none;
}

/* FAQ item heights */
.faq-item {
    min-height: 84px;
    padding-bottom: 32px;
}

.faq-item[open] {
    min-height: 92px;
    padding-bottom: 32px;
}